<script type="text/javascript">
  var lat = '<%= params[:lat] %>',
      lng = '<%= params[:lng] %>',
      z = '<%= params[:z] %>';
</script>
<div id="app">
  <div id="map" style="width: 100%;height: calc(100vh - 16px);"></div>
</div>
